.Education {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  padding: 0.5rem 2rem;
  background-color: #c57474f5;
  /* background-color: red; */
  height: calc(100vh - 4rem);
}
