.aboutme {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
}

.aboutme-image img {
  border-radius: 30%;
  width: 300px;
  height: auto;
}

.aboutme-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 2.5rem 2rem;
}
