.aboutme {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
}

.aboutme-image img {
  border-radius: 50%;
  width: 450px;
  height: auto;
}

.aboutme-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 2.5rem 2rem;
}
